.info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-top: 52px;
}

.info p {
    color: var(--white-5);
}

.info p span {
    color: var(--yellow-2);
}