@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-size: 16px;

    --white: #ffffff;

    --white-2: #f5f5fa;
    --white-3: #c3c3c3;
    --white-4: #afafaf;
    --white-5: #9b9b9b;

    --black: #000000;

    --blue: #ebebfc;
    --blue-2: #6363db;
    --blue-3: #4F4FB9;
    --blue-4: #4F4FB9;

    --yellow: #FFCF62;
    --yellow-2: #E8891C;
    --yellow-3: #691B0A;

    --green: #E1F5EC;
    --green-2: #03AB4F;

    --font-family: "Noto Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5fa;
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
}

.app {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    transition: filter 0.2s;
}

button:hover {
    filter: brightness(0.9);
}