.secretletter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 54px;
    height: 54px;
    background-color: #EBEBFC;
}